body{
    margin: 0;
    padding: 0;
    
}

#particles-js{
    height: 100%;
    background-color: black;
}

.nav-link{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: .7em;
}
#test1{
    background-color: black;
    height: 2.2em;
}

.test2{
    color: white;
    margin-right: 5em;
    font-family: 'Lato', sans-serif;
    font-size: .7em;
    margin-top: 1em;
}
.top-section{
    background-image: url('img2.png')!important;
    background-size:cover;
    height: 35em;
}
.top-section1{
    background-image: url('img1.png')!important;
    background-size:cover;
    height: 35em;
}
.top-section2{
    background-image: url('img3.png')!important;
    background-size:cover;
    height: 35em;
}
.carousel{
    width: 100em;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  
}
.sub-section1{
    margin-top: 10em;
    margin-left: 15em;
    

}
#health{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    color: white;
     margin-top: 3em;
      margin-left: 5em;
   
     
   
}
#stock{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 4.5em;
    color: white;

     margin-top: 3em;
      margin-left: 3.9em;
   
   
}
#produce{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 4.5em;
    color: white;
     margin-top: 3.9em;
      margin-left: 3.9em;
   
      
}
#intro{
   font-family: 'Roboto', sans-serif; 
   font-weight: 100;
   font-size: 1.6em;
   margin-top: .8em;
}
#intro2{
  font-family: 'Lato', sans-serif;
   font-weight: 100;
   line-height: 1.75em;
   font-size: .8em;
   margin-top: .8em;
   max-width: 65em;
}
#fin2{
    width: 65%;
}
#fin1{
    width: 65%;
}
#fin3{
    width: 65%;
}
.section3{
    background-image: url('img4.png')!important;
     background-size:cover;
    height: 30em;
    margin-bottom: 1em;
}
#focus{
    color: white;
    font-size: 4em;
    margin-top: 2.5em;
    margin-left: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#rice-section{
    color: white;

}
.categories{
    margin-top: 2.5em;
}
#contact{
    font-family: 'Lato', sans-serif;
   font-weight: 100;  
   font-size: 1.2em;
   margin-left: 14em;
   margin-top: 2em;
}
#contact-button{
   margin-top: 2em; 
}
.css-button-sliding-to-bottom--blue {
      min-width:8.125em;
  height: 2.5em;
  color: #fff;
  padding: .313em 0.625em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #0CAF4E;
  overflow: hidden;
  border: 2px solid #fff;
  color: #fff;
}
.css-button-sliding-to-bottom--blue:hover {
  color: #0CAF4E;
}
.css-button-sliding-to-bottom--blue:hover:after {
  height: 100%;
}
.css-button-sliding-to-bottom--blue:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.6s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #fff;
}
.footer{
  background-image: url('img5.png')!important;  

}
#footer-text{
    color:#fff;
    margin-top: 4em;
}
